body {
    background-color: #222;
    font-family: cursive;
    color: white;
}

img {
    height: 35rem;
}

.cardBox:hover {
    transform: scale(1.1);
}

.cardInfoBox {
    opacity: 0;
}

.cardInfoBox:hover {
    opacity: 1;
}

.subtitle {
    color: red;
}

span {
    color: white;
}
